---
layout: default
---

<script type="text/javascript">
    $(document).ready(function() {
        $(".guide-content img").each(function () {
            $(this).replaceWith('<a class="fancybox" href="'+$(this).attr('src')+'">'+$(this)[0].outerHTML +'</a>');
        }).promise().done(function(){ $('.fancybox').fancybox(); });
    });
</script>

<div class="container guide-container">
    <div class="row">
        <div class="span3">
            <div class="guide-nav">
                <ul class="nav nav-list">

                    <li class="nav-header">User Guide</li>

                    <li class="{% if page.id == 'index' %}active{% endif %}">
                        <a href="index.html">Introduction</a>
                    </li>

                    <li class="{% if page.id == 'faqs' %}active{% endif %}">
                        <a href="faqs.html">FAQ</a>
                    </li>

                    <li class="nav-header">Getting Started</li>

                    <li class="{% if page.id == 'installation' %}active{% endif %}">
                        <a href="installation.html">Installing LeadDyno</a>
                    </li>

                    <li class="{% if page.id == 'testing' %}active{% endif %}">
                        <a href="testing.html">Testing LeadDyno</a>
                    </li>

                    <li class="{% if page.id == 'affiliate-management' %}active{% endif %}">
                        <a href="affiliate-management.html">Managing Affiliates</a>
                    </li>

                    <li class="{% if page.id == 'affiliate-compensation-plan' %}active{% endif %}">
                        <a href="affiliate-compensation-plan.html">Managing Commission Plans</a>
                    </li>

                    <li class="nav-header">Affiliate Options</li>

                    <li class="{% if page.id == 'customizing-your-affiliate-homepage' %}active{% endif %}">
                        <a href="customizing-your-affiliate-homepage.html">Customizing Your Affiliate Home Page</a>
                    </li>

                    <li class="{% if page.id == 'affiliate-dashboard' %}active{% endif %}">
                        <a href="affiliate-dashboard.html">The Affiliate Dashboard</a>
                    </li>

                    <li class="{% if page.id == 'affiliate-compensation' %}active{% endif %}">
                        <a href="affiliate-compensation.html">Affiliate Compensation</a>
                    </li>

                    <li class="{% if page.id == 'mlm-setup' %}active{% endif %}">
                        <a href="mlm-setup.html">Multi-Level (MLM) Setup</a>
                    </li>

                    <li class="{% if page.id == 'per-product-support' %}active{% endif %}">
                        <a href="per-product-support.html">Per Product Commission</a>
                    </li>

                    <li class="{% if page.id == 'affiliate-dashboard-custom-domain' %}active{% endif %}">
                        <a href="affiliate-dashboard-custom-domain.html">Custom Domain</a>
                    </li>

                    <li class="nav-header">Marketing Options</li>

                    <li class="{% if page.id == 'content' %}active{% endif %}">
                        <a href="content.html">Managing Content</a>
                    </li>

                    <li class="{% if page.id == 'affiliate-marketing-email-follow-up' %}active{% endif %}">
                        <a href="affiliate-marketing-email-follow-up.html">Automated Affiliate Emails</a>
                    </li>

                    <li class="{% if page.id == 'affiliate-newsletters' %}active{% endif %}">
                        <a href="affiliate-newsletters.html">Affiliate Newsletters</a>
                    </li>

                    <li class="{% if page.id == 'tracking-campaigns' %}active{% endif %}">
                        <a href="tracking-campaigns.html">Tracking Campaigns</a>
                    </li>

                    <li class="{% if page.id == 'online-marketing-software-email-tracking' %}active{% endif %}">
                        <a href="online-marketing-software-email-tracking.html">Email Marketing Tracking</a>
                    </li>

                    <li class="{% if page.id == 'pay-per-click-tracking-software' %}active{% endif %}">
                        <a href="pay-per-click-tracking-software.html">AdWords Tracking</a>
                    </li>

                    <li class="{% if page.id == 'banner-ad-tracking' %}active{% endif %}">
                        <a href="banner-ad-tracking.html">Banner Ad Tracking</a>
                    </li>

                    <li class="{% if page.id == 'lead-follow-up-email-software' %}active{% endif %}">
                        <a href="lead-follow-up-email-software.html">Email Follow Up</a>
                    </li>

                    <li class="{% if page.id == 'sharing-widget' %}active{% endif %}">
                        <a href="sharing-widget.html">Sharing Widget</a>
                    </li>

                    <li class="{% if page.id == 'tools' %}active{% endif %}">
                        <a href="tools.html">LeadDyno Affiliate Tools</a>
                    </li>

                    <li class="{% if page.id == 'internationalization' %}active{% endif %}">
                        <a href="internationalization.html">Internationalization</a>
                    </li>

                    <li class="nav-header">Developer Resources</li>
                    <li>
                        <a href="http://developer.leaddyno.com/js-api.html">Javascript API</a>
                        <a href="http://developer.leaddyno.com/rest-api.html">REST API</a>
                    </li>

                    <li class="nav-header">Integration Guides</li>

                    <li class="{% if page.id == 'shopify-integration-guide' %}active{% endif %}">
                        <a href="shopify-integration-guide.html">Shopify</a>
                    </li>

                    <li class="{% if page.id == 'squarespace-integration-guide' %}active{% endif %}">
                        <a href="squarespace-integration-guide.html">Squarespace</a>
                    </li>

                    <li class="{% if page.id == 'bigcommerce-singleclick-integration-guide' %}active{% endif %}">
                        <a href="bigcommerce-singleclick-integration-guide.html">Bigcommerce</a>
                    </li>


                    <li class="{% if page.id == 'wordpress-integration-guide' %}active{% endif %}">
                        <a href="wordpress-integration-guide.html">Wordpress</a>
                    </li>

                    <li class="{% if page.id == 'infusionsoft' %}active{% endif %}">
                        <a href="infusionsoft.html">Infusionsoft</a>
                    </li>

                    <li class="{% if page.id == 'americommerce-integration-guide' %}active{% endif %}">
                        <a href="americommerce-integration-guide.html">Spark Pay</a>
                    </li>

                    <li class="{% if page.id == 'e-junkie-integration-guide' %}active{% endif %}">
                        <a href="e-junkie-integration-guide.html">E-Junkie</a>

                    <li class="{% if page.id == 'paypal-integration-guide' %}active{% endif %}">
                        <a href="paypal-integration-guide.html">Paypal "Buy Now"</a>
                    </li>

                    <li class="{% if page.id == 'paypal-merchant-integration-guide' %}active{% endif %}">
                        <a href="paypal-merchant-integration-guide.html">Paypal Merchant</a>
                    </li>

                    <li class="{% if page.id == 'paypal-masspay-integration-guide' %}active{% endif %}">
                        <a href="paypal-masspay-integration-guide.html">Paypal MassPay</a>
                    </li>

                    <li class="{% if page.id == 'chargify-integration-guide' %}active{% endif %}">
                        <a href="chargify-integration-guide.html">Chargify</a>
                    </li>

                    <li class="{% if page.id == 'stripe-integration-guide' %}active{% endif %}">
                        <a href="stripe-integration-guide.html">Stripe</a>
                    </li>

                    <li class="{% if page.id == 'cratejoy-integration-guide' %}active{% endif %}">
                        <a href="cratejoy-integration-guide.html">Cratejoy</a>
                    </li>

                    <li class="{% if page.id == 'coinbase-integration-guide' %}active{% endif %}">
                        <a href="coinbase-integration-guide.html">Coinbase</a>
                    </li>

                    <li class="{% if page.id == 'slack-integration-guide' %}active{% endif %}">
                        <a href="slack-integration-guide.html">Slack</a>
                    </li>

                    <li class="{% if page.id == 'webhook-payment-guide' %}active{% endif %}">
                        <a href="webhook-payment-guide.html">Custom Webhook Payments</a>
                    </li>

                    <li class="{% if page.id == 'recurly-integration-guide' %}active{% endif %}">
                        <a href="recurly-integration-guide.html">Recurly (Hosted)</a>
                    </li>

                    <li class="{% if page.id == 'recurly-non-hosted-integration-guide' %}active{% endif %}">
                        <a href="recurly-non-hosted-integration-guide.html">Recurly (Non-Hosted)</a>
                    </li>

                    <li class="{% if page.id == 'zohocrm-integration-guide' %}active{% endif %}">
                        <a href="zohocrm-integration-guide.html">ZohoCRM</a>
                    </li>

                    <li class="{% if page.id == 'hubspot-integration-guide' %}active{% endif %}">
                        <a href="hubspot-integration-guide.html">Hubspot</a>
                    </li>

                    <li class="{% if page.id == 'aweber-integration-guide' %}active{% endif %}">
                        <a href="aweber-integration-guide.html">AWeber</a>
                    </li>

                    <li class="{% if page.id == 'chargebee-integration-guide' %}active{% endif %}">
                        <a href="chargebee-integration-guide.html">Chargebee</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="guide-content">
                {{content}}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var isLocal = window.location.href.indexOf("file:") >= 0 || window.location.href.indexOf("localhost") >= 0;
    var urlToLoadFrom = isLocal ? "http://localhost:3001/key_rep" : "https://app.leaddyno.com/key_rep";
    $.getScript(urlToLoadFrom);
</script>
