---
layout: default
---

<script type="text/javascript">
  $(document).ready(function() {
      $(".guide-content img").each(function () {
          $(this).replaceWith('<a class="fancybox" href="'+$(this).attr('src')+'">'+$(this)[0].outerHTML +'</a>');
      }).promise().done(function(){ $('.fancybox').fancybox(); });
  });
</script>

<div class="container guide-container">
  <div class="row">
    <div class="span3">
      <div class="guide-nav">
        <ul class="nav nav-list">

            <li class="nav-header">User Guide</li>
            <li class="{% active introduction %}">
            <a href="/index.html">Introduction</a>
            </li>

            <li class="{% active faqs %}">
            <a href="/faqs.html">FAQ</a>
            </li>

            <li class="nav-header">Getting Started</li>

            <li class="{% active installation %}">
            <a href="/installation.html">Installing LeadDyno</a>
            </li>

            <li class="{% active testing %}">
            <a href="/testing.html">Testing LeadDyno</a>
            </li>

            <li class="{% active affiliate-management %}">
            <a href="/affiliate-management.html">Managing Affiliates</a>
            </li>

            <li class="{% active comp-plan %}">
            <a href="/affiliate-compensation-plan.html">Managing Commission Plans</a>
            </li>

            <li class="nav-header">Affiliate Options</li>

            <li class="{% active customizing-your-affiliate-homepage %}">
            <a href="/customizing-your-affiliate-homepage.html">Customizing Your Affiliate Home Page</a>
            </li>

            <li class="{% active affiliate-dashboard %}">
            <a href="/affiliate-dashboard.html">The Affiliate Dashboard</a>
            </li>

            <li class="{% active affiliate-compensation %}">
            <a href="/affiliate-compensation.html">Affiliate Compensation</a>
            </li>

            <li class="{% active mlm-setup %}">
            <a href="/mlm-setup.html">Multi-Level (MLM) Setup</a>
            </li>

            <li class="{% active per-product %}">
            <a href="/per-product-support.html">Per Product Commission</a>
            </li>

            <li class="{% active custom-domain %}">
            <a href="/affiliate-dashboard-custom-domain.html">Custom Domain</a>
            </li>

            <li class="nav-header">Marketing Options</li>

            <li class="{% active content %}">
            <a href="/content.html">Managing Content</a>
            </li>

            <li class="{% active affiliate-email %}">
            <a href="/affiliate-marketing-email-follow-up.html">Automated Affiliate Emails</a>
            </li>

            <li class="{% active affiliate-newsletters %}">
            <a href="/affiliate-newsletters.html">Affiliate Newsletters</a>
            </li>

            <li class="{% active tracking-campaigns %}">
            <a href="/tracking-campaigns.html">Tracking Campaigns</a>
            </li>

            <li class="{% active email-tracking %}">
            <a href="/online-marketing-software-email-tracking.html">Email Marketing Tracking</a>
            </li>

            <li class="{% active pay-per-click %}">
            <a href="/pay-per-click-tracking-software.html">AdWords Tracking</a>
            </li>

            <li class="{% active banner-ads %}">
            <a href="/banner-ad-tracking.html">Banner Ad Tracking</a>
            </li>

            <li class="{% active follow-up %}">
            <a href="/lead-follow-up-email-software.html">Email Follow Up</a>
            </li>

            <li class="{% active sharing-widget %}">
            <a href="/sharing-widget.html">Sharing Widget</a>
            </li>

            <li class="{% active tools %}">
            <a href="/tools.html">LeadDyno Affiliate Tools</a>
            </li>

            <li class="{% active internationalization %}">
            <a href="/internationalization.html">Internationalization</a>
            </li>

            <li class="nav-header">Developer Resources</li>
            <li>
            <a href="http://developer.leaddyno.com/js-api.html">Javascript API</a>
            <a href="http://developer.leaddyno.com/rest-api.html">REST API</a>
            </li>

            <li class="nav-header">Integration Guides</li>
            <li class="{% active shopify-integration-guide %}">
            <a href="/shopify-integration-guide.html">Shopify</a>
            </li>
            <!--<li class="{% active wix-integration-guide %}">
            <a href="/wix-integration-guide.html">Wix Integration</a>
            </li>
            -->
            <li class="{% active squarespace-integration-guide %}">
            <a href="/squarespace-integration-guide.html">Squarespace</a>
            </li>

            <!--
            <li class="{% active bigcommerce-integration-guide %}">
            <a href="/bigcommerce-integration-guide.html">Bigcommerce</a>
            </li>
            -->

            <li class="{% active bigcommerce-singleclick-integration-guide %}">
            <a href="/bigcommerce-singleclick-integration-guide.html">Bigcommerce</a>
            </li>

            <!--
            <li class="{% active chargebee-integration-guide %}">
            <a href="/chargebee-integration-guide.html">Chargebee</a>
            </li>
            -->

            <li class="{% active weebly %}">
            <a href="/weebly.html">Weebly</a>
            </li>

            <li class="{% active infusionsoft %}">
            <a href="/infusionsoft.html">Infusionsoft</a>
            </li>

            <li class="{% active etsy-integration-guide %}">
            <a href="/etsy-integration-guide.html">Etsy</a>
            </li>

            <li class="{% active americommerce-integration-guide %}">
            <a href="/americommerce-integration-guide.html">Spark Pay</a>
            </li>

            <li class="{% active e-junkie-integration-guide %}">
            <a href="/e-junkie-integration-guide.html">E-Junkie</a>

            <li class="{% active paypal-integration-guide %}">
            <a href="/paypal-integration-guide.html">Paypal "Buy Now"</a>
            </li>

            <li class="{% active paypal-merchant-integration-guide %}">
            <a href="/paypal-merchant-integration-guide.html">Paypal Merchant</a>
            </li>

            <li class="{% active paypal-masspay-integration-guide %}">
                <a href="/paypal-masspay-integration-guide.html">Paypal MassPay</a>
            </li>

            <li class="{% active chargify-integration-guide %}">
            <a href="/chargify-integration-guide.html">Chargify</a>
            </li>

            <li class="{% active stripe-integration-guide %}">
            <a href="/stripe-integration-guide.html">Stripe</a>
            </li>

            <li class="{% active coinbase-integration-guide %}">
            <a href="/coinbase-integration-guide.html">Coinbase</a>
            </li>

            <li class="{% active slack-integration-guide %}">
            <a href="/slack-integration-guide.html">Slack</a>
            </li>

            <li class="{% active webhook-payment-guide %}">
            <a href="/webhook-payment-guide.html">Custom Webhook Payments</a>
            </li>

            <li class="{% active recurly-integration-guide %}">
            <a href="/recurly-integration-guide.html">Recurly (Hosted)</a>
            </li>

            <li class="{% active recurly-non-hosted-integration-guide %}">
            <a href="/recurly-non-hosted-integration-guide.html">Recurly (Non-Hosted)</a>
            </li>

            <li class="{% active zohocrm-integration-guide %}">
                <a href="/zohocrm-integration-guide.html">ZohoCRM</a>
            </li>

            <li class="{% active hubspot-integration-guide %}">
                <a href="/hubspot-integration-guide.html">Hubspot</a>
            </li>

            <li class="{% active aweber-integration-guide %}">
                <a href="/aweber-integration-guide.html">AWeber</a>
            </li>
           </li>
        </ul>
    </div>
</div>
<div class="span9">
    <div class="guide-content">
        {{content}}
    </div>
</div>
  </div>
</div>

<script type="text/javascript">
    var isLocal = window.location.href.indexOf("file:") >= 0 || window.location.href.indexOf("localhost") >= 0;
    var urlToLoadFrom = isLocal ? "http://localhost:3001/key_rep" : "https://app.leaddyno.com/key_rep";
    $.getScript(urlToLoadFrom);
</script>
